@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional fade-in animasi tiap section */
.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-section.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
}


.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

