@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

:root {
  --bg-light: #F2F2F2;
  --bg-dark: #1A1A1A;
}

body {
  background-color: var(--bg-light);
  color: #1A1A1A;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

/* Judul Section dengan Kotak */
.section-title-box {
  @apply border-2 border-black px-10 py-2 inline-block font-black uppercase tracking-[0.4em] mb-16 bg-white shadow-[4px_4px_0px_0px_rgba(0,0,0,1)];
}

/* Input Minimalis */
.input-elegant {
  @apply w-full border-b-2 border-black bg-transparent py-3 focus:outline-none uppercase text-xs font-bold tracking-widest placeholder-gray-400;
}

